# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular data science programming languages
- List commonly used data science libraries
- Create one column table with open source data science tools
- Evaluate simple arithmetic expressions
- Convert minutes to hours

## Author
Adam Woch

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python in JupyterLab
1. **Addition**:
   `
   2 + 2 = 4
   `
2. **Subtraction**:
   `
   2 - 2 = 0 
   `
3. **Multiplication**
   `
   2 * 2 = 4
   `

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335